body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

div, ul, ol, li
{
    position: relative;
}

div.everything 
{
    background-color: #B9BC73;
    padding: 10px;
}

div.navigation, div.content, div.footer
{
    display: block;
    
    background-color: #B3FFFF;
    padding: 10px;
    margin: 10px;
    
    border: 1px solid black;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div.text-bg
{
    background-color: #ffffff;
    padding: 10px;
}

/*styling the menu bar*/

nav 
{
    text-align: center;
}

nav ul ul
{
    display: none;
}
    nav ul li:hover > ul
    {
        display: block;
    }
	
nav ul 
{
    background: #ffffff;
    
    list-style: none;
    display: table;
    table-layout: fixed;
}

nav > ul
{
    width: 100%;
}

    nav ul li
    {
        display: table-cell;
    }
    
    nav ul li.selected
    {
        background-color: #999999;
    }
    
        nav ul li:hover
        {
            background-color: #0000ff;
        }
            nav ul li:hover > a
            {
                color: #ffffff;
            }
        
        nav > ul > li > a
        {
            display: block;
            padding: 0px 10px;
            color: #000000;
            text-decoration: none;
        }

    nav ul ul
    {
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        z-index: 90;
        -webkit-box-shadow: 0 0 5px 0;
        -moz-box-shadow: 0 0 5px 0;
        box-shadow: 0 0 5px 0;
    }
        nav ul ul li
        {
            display: table-cell;
            position: relative;
            z-index: 100;
        }
            nav ul ul li a
            {
                display: block;
                padding: 0px 10px;
                
                color: #000000;
                text-decoration: none;
            }
                nav ul ul li a:hover
                {
                    background-color: #0000ff;
                    color: #ffffff;
                }

/*end styling the menu bar*/

div.navigation a
{
    font-family: Arial Rounded MT Bold, sans-serif;
    font-weight: bold;
    font-size: 20;
}

div.content a
{
    font-family: Arial, sans-serif;
}

h1
{
    font-family: Arial Black, sans-serif;
    font-weight: bold;
    font-size: 41;
}

h2.wd
{
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 30;
}

p.wd
{
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 18;
}

img.wd
{
    display: block;
    max-height: 550px;
    width: auto;
}
img.wdinline
{
    display: inline;
    height: 18pt;
    width: auto;
    vertical-align: -42%;
}

p.regular
{
    font-family: Arial, sans-serif;
    font-size: 18;
}

.centered
{
    font-family: Arial, sans-serif;
    font-size: 18;
    
    text-align: center;
    display: block;
}

p.footnote
{
    font-size: 8;
}

p.footer
{
    font-size: 20;
    text-align: center;
}

div.game-tile-bg
{
    background-color: #dedede;
    padding: 10px;
}

div.game-tile
{
    background-color: #ffffff;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    
    display: inline-block;
    cursor: pointer;
}

div.game-icon
{
    margin: 5px;
    display:inline-block;
}

div.game-description
{
    margin: 5px;
    display: inline-block;
    
    width: 260px;
    vertical-align: top;
}

    div.game-description > a
    {
        color: #000000;
        
        text-decoration: none;
        font-size: 20;
        font-weight: bold;
    }